html, body {
    margin: 0;
    padding: 0;
}
div {
    outline: 1px solid black;
}
audio {
    width: 100%;
}
.brick {
    height: 40px;
    outline: 0 none;
    width: 40px;
}
#app-board {
    font-size: 0;
    margin: auto;
    width: 800px;
}
#game-grid {
    box-sizing: border-box;
    display: inline-block;
    font-size: 0;
    height: 800px;
    margin: 0 40px;
    overflow: hidden;
    position: relative;
    width: 400px;
}
#game-grid .borders {
    bottom: 0;
    position: absolute;
}
#game-grid .borders .tetronimo {
    position: absolute;
}
#game-grid .row,
#game-grid .background {
    outline: 0 none;
}
#game-grid .background {
    border: 1px solid grey;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.side {
    display: inline-block;
    font-size: 20px;
    height: 800px;
    vertical-align: top;
    width: 160px;
}
section, header, .bigtext, .text {
    font-size: 1em;
}
.column {
    display: inline-block;
}
.tetromino {
    display: inline-block;
    font-size: 0;
    outline: 0 none;
}
.borders .tetromino {
    left: 160px;
    position: absolute;
    top: 0;
}
.shape-t,
.shape-j,
.shape-l,
.shape-s,
.shape-z,
.shape-i{
    transform-origin: 60px 20px;
}
.shape-o {
    transform-origin: 40px 40px;
}
.shape-i {
    width: 160px;
}
.shape-o {
    width: 80px;
}
.shape-t,
.shape-j,
.shape-l,
.shape-s,
.shape-z {
    width: 120px;
}
.brick {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.brick.empty {}
.brick.filled {
    border: 4px outset grey;
    border-radius: 4px;
}
.cyan .brick.filled,
#game-grid .background.filled.cyan {
    background-color: cyan;
}
.blue .brick.filled,
#game-grid .background.filled.blue {
    background-color: blue;
}
.orange .brick.filled,
#game-grid .background.filled.orange {
    background-color: orange;
}
.yellow .brick.filled,
#game-grid .background.filled.yellow {
    background-color: yellow;
}
.lime .brick.filled,
#game-grid .background.filled.lime {
    background-color: lime;
}
.purple .brick.filled,
#game-grid .background.filled.purple {
    background-color: purple;
}
.red .brick.filled,
#game-grid .background.filled.red {
    background-color: red;
}
