<link rel="stylesheet" type="text/css" href="style.css">

<div class="column">
    <h2>I</h2>
    <div class="tetromino shape-i cyan">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
    </div>
</div>

<div class="column">
    <h2>O</h2>
    <div class="tetromino shape-o yellow">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
    </div>
</div>

<div class="column">
    <h2>T</h2>
    <div class="tetromino shape-t purple">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
    </div>
</div>

<div class="column">
    <h2>J</h2>
    <div class="tetromino shape-j blue">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
        <div class="brick empty"></div>
        <div class="brick filled"></div>
    </div>
</div>

<div class="column">
    <h2>L</h2>
    <div class="tetromino shape-l orange">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
        <div class="brick empty"></div>
    </div>
</div>

<div class="column">
    <h2>S</h2>
    <div class="tetromino shape-s lime">
        <div class="brick empty"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
    </div>
</div>

<div class="column">
    <h2>Z</h2>
    <div class="tetromino shape-z red">
        <div class="brick filled"></div>
        <div class="brick filled"></div>
        <div class="brick empty"></div>
        <div class="brick empty"></div>
        <div class="brick filled"></div>
        <div class="brick filled"></div>
    </div>
</div>
